/* edit Page Styles */

.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #29002e, #6a0572);
}

.edit-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.avatar img {
    width: 80px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.input-field {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
}

.input-field::placeholder {
    color: #ddd;
}

.submit-button {
    background: #800080;
    color: white;
    padding:10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 220px;
    margin-top: 30px;
    transition: background 0.3s ease;
    text-align: center;
}

.submit-button:hover {
    background: #a020f0;
}
